.container {
  display: grid;
  grid-template-rows: 80px 200px;
  grid-template-columns: repeat(3, 1fr); 
  gap: 10px; 
}

.container div {
  background-color: #f1f1f1;
  color: #000;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}
