.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: dodgerblue;
  padding: 5px;
  gap: 5px;
}
.container div {
  background-color: #f1f1f1;
  color: #000;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

<div class="container">
<div>1</div>
<div>2</div>
<div>3</div>  
<div>4</div>
<div>5</div>
<div>6</div>  
</div>

