.container {
  display: flex;
  flex-direction: column;
  background-color: white;
}
 
.container div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  padding: 50px;
  text-align: center;  
  font-size: 30px;
}